<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>

    {% include header.html %}
    
    <div id="page-wrapper">
        <!-- 사이드바 -->
        <div id="sidebar-wrapper">
          <div>
                <a href="{{ site.baseurl }}">Home</a>
                <button id="button" onclick="hide_sidebar('sidebar-nav')">
                    off
                </button>
          </div>

          <ul id="sidebar-nav">

              {% for category in site.categories %} 
              <li><a href="#" onclick="hide_category('{{ category | first }}');">{{ category | first }}</a></li>
              <ul id="{{ category | first }}">
                  {% assign sorted = category.last | sort:"date" %}
                  {% for post in sorted %}
                  <li style="padding-left: 10px;">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                  {% endfor %}
              </ul>
              {% endfor %}
            </ul>
          </div>
          
        <!-- /사이드바 -->
    </div> 
    <div id="page">
        <!-- 본문 -->
        <div class="page-content">
          {{ content }}
        </div>
    </div>        

    {% include footer.html %}

  </body>

</html>
