---
layout: default
---

<div class='page-list'>
    <ul>
        <li>{{ page.categories }}</li>
        <li>/</li>
        <li>{{ page.title }}</li>
        <li>/</li>
    </ul>
</div>

<br>

<h1 class="title">{{ page.title }}</h1>

<div class='h2_list'>
    <script type='text/javascript'>
        $(document).ready(function() {
            $(document).find('h2').each(function(){
                var blockchange = this.innerText.replace(/\ /g,"-")
                $(this).attr('id', blockchange);
                $('.h2_list ul').append("<li><a href=\"#" + blockchange + "\">" + this.innerText + "</a></li>");
            })
            
        })

    </script>

    <ul></ul>
</div>




{{ content }}

